/*
 * Theme Information:
 *
 * Name: Untitled
 * Author: Dovuq & xrdrsp
 * Version: v0.1.4
 */

header {
    margin: 0 auto;
}

footer {
    margin: 0 auto;
}

@font-face {
    font-family: 'NotoSansSC';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSansSC-VariableFont_wght.ttf) format('opentype');
    unicode-range: U+4E00-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700–2B73F, U+2B740–2B81F, U+2B820–2CEAF, U+2CEB0–2EBEF, U+30000–3134F, U+31350–323AF, U+F900-FAFF, U+2F800-2FA1F;
    /* unicode-range: U+4E00-9FFF, U+3400-4DBF; */
}

@font-face {
    font-family: 'NotoSerifSC';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSerifSC-VariableFont_wght.ttf) format('opentype');
    /* unicode-range: U+4E00-9FFF, U+3400-4DBF, U+20000-2A6DF, U+2A700–2B73F, U+2B740–2B81F, U+2B820–2CEAF, U+2CEB0–2EBEF, U+30000–3134F, U+31350–323AF, U+F900-FAFF, U+2F800-2FA1F; */
    unicode-range: U+4E00-9FFF, U+3400-4DBF;
}

@font-face {
    font-family: 'NotoSansJP';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSansJP-VariableFont_wght.ttf) format('opentype');
    unicode-range: U+3000-30ff;
}

@font-face {
    font-family: 'NotoSerifJP';
    font-display: swap;
    src: url(extensions/fonts/NotoSC/NotoSerifJP-VariableFont_wght.ttf) format('opentype');
    unicode-range: U+3000-30ff;
}


.chinese {
  font-family: "NotoSerifSC";
}

body {
    padding-top: 50px;
    padding-right: 12%;
    padding-left: 12%;
    padding-bottom: 50px;
    word-break: hyphenate;
    font-size: 18px;
    font-family: "NotoSerifJP", "NotoSerifSC", "Computer Modern Serif", serif;
    color: #000000;
    margin: 0 auto;
}

p {
    background-color: #ffffff;
    color: #000000;
    line-height: 26px;
    word-break: hyphenate;
    font-size: 18px;
    font-family: "NotoSerifJP", "NotoSerifSC", "Computer Modern Serif", serif;
}

pre, tt {
	font-size: 90%;
	font-family: "Computer Modern Typewriter", monospace;
    color: #000000;
}

code {
    font-family: "Computer Modern Typewriter", "Courier New";
    color: #6f6f6f;
}

em {
	font-style: italic;
}

a:visited, a:link {
    color: #000000;
    font-weight: bold;
}

h1 {
    font-size: 4.0rem;
    font-family: "NotoSerifSC", "Computer Modern Serif", serif;
    color: #000000;
}       

h2 {
    font-size: 2.8rem;
    font-family: "NotoSerifSC", "Computer Modern Serif", serif;
    color: #000000;
}

h3 {
    font-size: 2.0rem;
    font-family: "NotoSerifSC", "Computer Modern Serif", serif;
    color: #000000;
}

h4 {
    font-size: 1.5rem;
    color: #000000;
}

h5 {
    font-size: 1.2rem;
    color: #000000;
}

h6 {
    font-size: 1rem;
    color: #000000;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    word-break: hyphenate;
}

table, th, td {
    
    border-collapse: collapse;
    color: #000000;
}

th {
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 18px;
}

td {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 18px;
}

.error {
    color: #ff0000;
}

center {
    text-align: center;
}