/*
 * Theme Information:
 *
 * Name: Untitled
 * Author: Dovuq & xrdrsp
 * Version: v0.1.2
 */

body {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    word-break: hyphenate;
    font-size: 20px;
    font-family: "Computer Modern Sans", "PingFang SC", sans-serif;
}

p {
    background-color: #ffffff;
    color: #000000;
    line-height: 30px;
    word-break: hyphenate;
    font-size: 20px;
    font-family: "Computer Modern Sans", "PingFang SC", sans-serif;
}

pre, tt {
	font-size: 90%;
	font-family: "Computer Modern Typewriter", monaco, monospace;
}

code {
    font-family: "Computer Modern Typewriter", "Courier New";
    color: #6f6f6f;
}

em {
	font-style: italic;
}

a:visited, a:link {
    color: #000000;
    font-weight: bold;
}

h1 {
    font-size: 4.0rem;
}       

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    word-break: hyphenate;
}

table, th, td {
    margin-bottom: 20px;
    border-collapse: collapse;
}

td {
    font-size: 20px;
}

.error
{
    color: #ff0000;
}